{% extends 'base.html' %}
{% block title %} Детальный просмотр {% endblock title %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'poll-update' poll.id %}" class="nav-link text-success">Редактировать </a>
    </li>
    <li class="nav-item">
        <a href="{% url 'poll-delete' poll.id%}" class="nav-link text-danger">Удалить</a>
    </li>
{% endblock nav %}
{% block content %}
    <div class="card text-center mt-5 pb-5">
      <div class="card-body mb-2 mt-2">
        <h5 class="card-title">{{ poll.question}}</h5>
      </div>
     {% include 'choice/list.html' with choices=poll.choices.all %}

    </div>
{% endblock content %}