{% extends 'base.html' %}
{% block title %} Детальный просмотр {% endblock title %}
{% block nav %}
    <li class="nav-item">
        <a href="" class="nav-link text-success">Редактировать </a>
    {#        <a href="{% url 'project-update' project.id %}" class="card-link">Редактировать </a>#}
    </li>
    <li class="nav-item">
        <a href="" class="nav-link text-danger">Удалить</a>
{#        <a href="{% url 'project-delete' project.id %}" class="card-link text-danger">Удалить</a>#}
    </li>
{% endblock nav %}
{% block content %}
    <div class="card text-center mt-5 pb-5">
      <div class="card-body mb-2 mt-2">
        <h5 class="card-title">{{ poll.question}}</h5>
      </div>
     {% include 'choice/list.html' with choices=poll.choices.all %}

    </div>
{% endblock content %}