{% extends 'base.html' %}
{% block title %}Удаление{% endblock title %}
{% block content%}
    <div class="container text-center">
        <h3 class="mt-4 mb-4">Вы действительно хотите удалить вариант{{ poll.id }}?</h3>
        <form action="{% url 'choice-delete' choice.id%}" method="post">
            {% csrf_token %}
            <a href="{% url 'poll-view' choice.poll.id %}" class="btn btn-outline-info">Нет</a>
            <input type="submit" name="action" value="Да" class="btn btn-outline-danger"/>
        </form>
    </div>
{% endblock content %}